// @import-normalize;

@import "style/helper.scss";

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
*::after,*::before{
    box-sizing:border-box
}
*::-webkit-scrollbar{
    display:none;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration:none;
    color:inherit;
}
body{
    font-size:16px;
    line-height: 1.2;
    font-family:$font-hei;

}
@media(min-width:500px){
    body{
        width:400px;
        margin:auto;
        background: #918f8f;
    }
}
input{
    outline:none;
}
